@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway:200,300,400');
/*
//////FONTS//////
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
//////COLORS//////
#346469
#5ca2aa
#a6b0c0 - GRAY
*/
/* //////MOBILE FIRST:////// */
.carousel {
  max-width: 100%;
  height: 200px;
  background: radial-gradient(closest-corner at 60% 55%, #5ca2aa, #346469);
}
.imgCarousel {
  height: 200px;
  background: url(../images/aboutUs/aboutUs.png) left no-repeat;
  display: flex;
  align-content: stretch;
}
section {
  height: 100%;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  }
.carousel {
  max-width: 100%;
  height: 200px;
  background: radial-gradient(closest-corner at 60% 55%, #5ca2aa, #346469);
}
.imgCarousel {
	height: 200px;
}
section {
	height: 100%;
    margin: 0 auto;
	font-family: 'Raleway', sans-serif;
    color: #000;
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#desktop {
	display: none;
}
section h1 {
	text-align: center;
}
.mobile h3 {
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: .90em;
	}
img {
	padding: 0;
	margin: 0 auto;
	padding: 15px;
	font-size: 1em;
	}
img {
	padding: 0;
	margin: 0 auto;
	padding: 15px;
	display: block;
    max-width: 100%;
}
.border img{
  max-width: 100%;
  margin-bottom: 5px;
  padding-left: 70px;
  max-width: 100%;
  margin-bottom: 5px;
  padding-left: 70px;
  padding-right: 70px;
}
p {
	text-align: center;
	vertical-align: middle;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: .95em;
}
.mobile p {
	font-size: 1em;
}
.mobile p {
  padding: 15px;
  border: 1px solid #a6b0c0;
  border-radius: 8px;
}
.border img:last-child {
  padding-left: 70px;
  padding-right: 70px;
}
/* //////ENDS MOBILE ////// */

/* ////// DESKTOP  ////// */


/*media queries for a device of (min-width: 650px) and (max-width: 799px)--------*/
@media screen and (min-width: 650px) and (max-width: 799px){
  #desktop {
  	display: table;
  }
  #desktop h3 {
  	padding: 0;
  	margin: 0;
  	margin-left: 25px;
  	padding-bottom: 5px;
  	text-align: left;
  	font-size: 1em;
  }
  .mobile {
  	display: none;
  }
  td#picture {
    vertical-align: text-top;
    width: 30%;
  }
  td#text {
    width: 70%;
  }
  #desktop img {
    margin-bottom: 10px;
  }
  p {
  	text-align: center;
  	font-size: 1.1em;
  	margin-left: 25px;
  	text-align: center;
  	font-size: 1em;
  	margin-left: 25px;
  	margin-right: 25px;
  	margin-top: 5px;
  	margin-bottom: 20px;
  }

  #desktop p {
    padding: 20px;
    text-align: left;
    border: 1px solid #a6b0c0;
    border-radius: 8px;
  }
  .border{
    padding-left:   80px;
    padding-right: 80px;
  }
}
/*End media queries for a device of (min-width: 650px) and (max-width: 799px) --------*/

/*media queries for a device of (min-width:800px)--------*/
@media screen and (min-width: 800px)   {
  .imgCarousel {
  	height: 200px;
    width: 100%;
  	/* background: url(../images/) center/100% no-repeat;
    display: flex;
    align-content: stretch; */
    background: url(../images/aboutUs/aboutUs.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  section h1 { 
  	font-size: 2em;
  }

  #desktop {
  	display: table;
  }
  #desktop {
  	display: table;
  }
  #desktop h3 {
  	padding: 0;
  	margin: 0;
  	text-align: center;
  	font-size: 1.5em;
  }
  .mobile {
  	display: none;
  }
  td#picture {
    width: 30%;

  }
  td#text {
    width: 70%;
  }
  #desktop img {
    margin-bottom: 10px;
  }
  p {
  	text-align: center;
  	font-size: 1.2em;
  	margin-left: 25px;
  	font-size: 1em;
  }
  .mobile {
  	display: none;
  }
  td#picture {
    width: 30%;
  }
  td#text {
    width: 70%;
  }
  #desktop img {
    margin-bottom: 10px;
  }
  p {
  	text-align: center;
  	font-size: 1em;
  	margin-left: 25px;
  	margin-right: 25px;
  	margin-top: 5px;
  	margin-bottom: 20px;
  }
  #desktop p {
    padding: 30px;
    text-align: left;
    border: 1px solid #a6b0c0;
    border-radius: 8px;
  }
  .border {
    padding-left:  140px;
    padding-right: 140px;
  }
}
/*End media queries for a device of (min-width: 800px)--------*/
