@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway:200,300,400');
/*
---FONTS---
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;

---COLORS---
#346469
#5ca2aa
#a6b0c0 - GRAY
#a3c260; - green -fee
#867362; - light brown -request button

Mobile Styles (max-width: 414px)
Tablet Styles (max-width: 768px)
Desktop styles (not in a media query)




Desktop styles (not in a media query)
Tablet Styles (max-width: 768px)
Mobile Styles (max-width: 414px)

*/
main, section, aside, article, header, footer, nav, video, audio, figure {
    display: block;
}


/*@media only screen and (max-width: 414px) */

.carousel {
    height: 200px;
    background: linear-gradient(#26520d, #407314, #7ba129);

}
.imgCarousel {
	height: 200px;
	background: url(../images/services/zen-wallpaper-hd-1500sm2.png) center no-repeat;
}
/*   --- old code which respond header imag respond to 414
imageContainer{
    background: url(../images/services/zen-wallpaper-hd-1b.jpg) no-repeat top left fixed;
   background-size: cover;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
}

#service_img {
    max-width:100%
}
*/


/* MOBILE FIRST: Breakpoint 1 (iPhone 6+): 414px */

section {
	width: 100%;
	height: 100%;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
	display: flex;
/*	flex-direction: column;  */
	padding-bottom: 20px;
}

tr {
	width: 80%;
	height: 100%;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
    border: solid, 1px, red;
}



service {
    display: flex;
    flex-direction: column;
    display: inline-block;
    width: 370px;
    margin: 15px 25px 0 25px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

 h2 {
    text-align: center;
    padding-bottom: 5px;
    -webkit-margin-before:1.5em;

}
#borders{
    display: block;
    max-width:100%;
    text-align: center;
}


.service_images{
    -webkit-margin-before: 2em;
    width: 150px;
    height: 150px;

}

.service-fee{
    text-align: center;
    color: #a3c260;
    font-weight: 700;
    font-size: 20px;
}
.duration {
    text-align: center;
}
.desc{
    line-height: 24px;
    margin-bottom: 10px;
    color: #a6b0c0;
    padding-bottom: 10px;

}

.request-button {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
    background-color:  #867362;
    color: #fff;
    border-radius: 0 10px 0 10px;
    margin-top: 900px;
}


/*************** iPad mode*****************/



@media screen and (min-width: 415px) and (max-width: 768px){


    div#borders {
            max-width: 33%;
    }
    .service_images {
         text-align: center;
    }
}

tr {
    text-align: center;
    flex: 3;
}



.mid {
    width: 30%;
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    flex-basis: 400px| auto;
    flex: 3;
/*    justify-content: center;*/



/*  align-items: flex-start;*/
/*  justify-content: space-around;*/

}
 .desc{
     text-align: left;
     padding-left: 25px;
}


/*************** END MEL'S CODE *****************/



/************* MEL's MEDIA QUERY ************************/

/*  Breakpoint 1 (iPhone 6+): 414px     */
/*@media only screen and (max-width: 414px) */
